*.pem
.vite/
.env
dist/
node_modules/
__pycache__/
.DS_Store
*.xlsx
*.tar.gz

# Ignored scripts
backend/scripts/apify.py
backend/scripts/agentic_rank_checker.py
backend/scripts/crawl4ai_scraper.py
backend/scripts/da_check.py
backend/scripts/moz_domain_checker.py
backend/scripts/quora.py
backend/scripts/reddit.py
