fastapi
uvicorn[standard]
python-multipart
sqlalchemy
psycopg2-binary
pandas
openpyxl
requests
beautifulsoup4
openai
python-dotenv
pycountry
selenium
webdriver_manager
anthropic
crawl4ai
selenium_recaptcha_solver